.container2 .subscripe{
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 300px;
  cursor: pointer;
}
.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  .card-text{
   margin-left: 60px;
  }
  .card-body{
    border-radius: 5px;
    border-color: red;
    border: 2;
  }
.register .container2 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .container2 .details{
   
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 310px;
    cursor: pointer;
  }